spring:
  application:
    name: redis-srv
  datasource:
    url: jdbc:postgresql://localhost:5434/redis_db
    username: redis
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080

logging:
  level:
    ru.ekp.redis: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health,info,loggers,metrics,prometheus
      base-path: /actuator
      path-mapping:
        loggers: /loggers
  endpoint:
    loggers:
      enabled: true
    health:
      enabled: true
      show-details: always
    metrics:
      enabled: true
  info:
    env:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
    tags:
      application: redis-srv